* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #5a556f;
  font-family: sans-serif;
}

h1 {
  margin-top: 30px;
  color: #f3d6cd;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 5px 0;
  gap: 15px;
}

.slider {
  width: 800px;
  height: 400px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px
}

.slider .img-id {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f3d6cd;
  background-color: #5a556f;
  z-index: 1;
  padding: 4px 6px;
  border-radius: 3px;
}

.slider img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider img.active {
  opacity: 1;
}

.left,
.right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3d6cd;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.left:hover,
.right:hover {
  background-color: #bbb;
}

.left:not(:disabled):hover,
.right:not(:disabled):hover {
  background-color: #000;
  color: #fff;
}

.left:disabled,
.right:disabled {
  opacity: .4;
  cursor: no-drop;
}

.thumbnail-container {
  width: 800px;
  margin: auto;
  display: grid;
  gap: 5px;
}

.thumbnail-container img {
  max-width: 100%;
  opacity: .3;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px
}

.thumbnail-container img:hover,
.thumbnail-container img:active {
  opacity: 1;
  max-width: 100%;
  opacity: .9;
  cursor: pointer;
  transition: .3s;
}

.thumbnail-container img:hover,
.thumbnail-container img:active {
  opacity: 1;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #979595;
  padding: 4px;
}
footer p {
  line-height: 2;
  margin: 2px;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
 .slider {
  width: 100%; /* Full width on smaller screens */
  height: auto; /* Adjust height automatically */
 }

 .thumbnail-container {
  width: 100%; /* Full width on smaller screens */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Responsive grid */
 }
}

@media (max-width: 480px) {
 h1 {
 font-size: 24px; /* Smaller font size on very small screens */
}
